node_modules
vendor
bootstrap
storage
public/hot
public/css
public/js
.env
.env.*.php
.cache
.phpunit.result.cache
dist
build
.next
.nuxt
.git
.gitignore
.markdownlintignore
*.lock
pnpm-lock.yaml
composer.lock
package-lock.json
yarn.lock
